:root {
    --smile-size: 300px;
}

* {
    margin: 0;
    padding: 0;
}

.parent {
    transform-style: preserve-3d;
    background-color: rgba(100, 149, 237, 0.33);
    width: 800px;
    height: 800px;
    transform: rotateX(60deg) rotateZ(45deg);
}

.smile {
    position: absolute;
    width: var(--smile-size);
    height: var(--smile-size);
    border-radius: 50%;
    background-color: yellow;
    z-index: 25;
    left: calc(50% - var(--smile-size) / 2);
    top: calc(50% - var(--smile-size) / 2);

    outline: 2px solid green;

    transform-origin: center;
    perspective-origin: top right;
    transition: all, 1s, linear, 1s;
}


.smile:hover {
    background-color: red;
}

.isAnimated {
    transform: perspective(500px) translateZ(-100px) rotateY(180deg);
}